@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?dpfmnu");
  src: url("../fonts/icomoon.eot?dpfmnu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?dpfmnu") format("truetype"), url("../fonts/icomoon.woff?dpfmnu") format("woff"), url("../fonts/icomoon.svg?dpfmnu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* line 19, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-bar-graph:before {
  content: "\e900";
}

/* line 37, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-transfer:before {
  content: "\e901";
}

/* line 40, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-arrows:before {
  content: "\e901";
}

/* line 43, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-headphones:before {
  content: "\e910";
}

/* line 46, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-bullhorn:before {
  content: "\e91a";
}

/* line 49, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-folder-open:before {
  content: "\e930";
}

/* line 52, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-ticket:before {
  content: "\e939";
}

/* line 55, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-cart:before {
  content: "\e93a";
}

/* line 58, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-clock:before {
  content: "\e94e";
}

/* line 61, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-display:before {
  content: "\e956";
}

/* line 64, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-laptop:before {
  content: "\e957";
}

/* line 67, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-mobile:before {
  content: "\e958";
}

/* line 70, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-drive:before {
  content: "\e963";
}

/* line 73, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-search:before {
  content: "\e986";
}

/* line 76, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-briefcase:before {
  content: "\e9ae";
}

/* line 79, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-download3:before {
  content: "\e9c7";
}

/* line 82, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-earth:before {
  content: "\e9ca";
}

/* line 85, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-shuffle:before {
  content: "\ea30";
}

/* line 88, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-arrow-right2:before {
  content: "\ea3c";
}

/* line 91, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-embed2:before {
  content: "\ea80";
}

/* line 96, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-facebook:before {
  content: "\ea90";
}

/* line 99, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-instagram:before {
  content: "\ea92";
}

/* line 102, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-twitter:before {
  content: "\ea96";
}

/* line 106, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-linkedin2:before {
  content: "\eaca";
}

/* line 111, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-angle-double-right:before {
  content: "\e902";
}

/* line 114, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-star:before {
  content: "\e903";
}

/* line 117, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-lock:before {
  content: "\e904";
}

/* line 120, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-flask:before {
  content: "\e905";
}

/* line 123, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-clipboard:before {
  content: "\e906";
}

/* line 126, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-paste:before {
  content: "\e906";
}

/* line 129, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-handshake-o:before {
  content: "\e907";
}

/* line 132, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-dashboard:before {
  content: "\e908";
}

/* line 135, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-tachometer:before {
  content: "\e908";
}

/* line 138, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-phone-square:before {
  content: "\e909";
}

/* line 141, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-pencil:before {
  content: "\e90a";
}

/* line 144, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-envelope:before {
  content: "\e90b";
}

/* line 147, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-money:before {
  content: "\e90c";
}

/* line 150, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-graduation-cap:before {
  content: "\e90d";
}

/* line 153, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-cloud-download:before {
  content: "\e90e";
}

/* line 156, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-cloud:before {
  content: "\e90f";
}

/* line 159, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-group:before {
  content: "\e911";
}

/* line 162, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-users:before {
  content: "\e911";
}

/* line 165, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-cogs:before {
  content: "\e912";
}

/* line 168, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-gears:before {
  content: "\e912";
}

/* line 171, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-paperplane:before {
  content: "\e913";
}

/* line 174, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-send:before {
  content: "\e913";
}

/* line 177, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-flight:before {
  content: "\e913";
}

/* line 180, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-email:before {
  content: "\e913";
}

/* line 183, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-chat:before {
  content: "\e914";
}

/* line 186, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-help:before {
  content: "\e915";
}

/* line 189, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-security:before {
  content: "\e916";
}

/* line 192, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-call:before {
  content: "\e917";
}

/* line 195, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-trending_up:before {
  content: "\e918";
}

/* line 198, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-phone_in_talk:before {
  content: "\e919";
}

/* line 201, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_fonts.scss */
.icon-mouse:before {
  content: "\e91b";
}

/* line 3, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 9, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
html,
body {
  scroll-behavior: smooth;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
body {
  color: #666;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  background-color: #fff;
}

/* line 22, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#page-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* line 29, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.reusable-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 36, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.section {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  /* line 36, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .section {
    width: 750px;
  }
}

@media (min-width: 992px) {
  /* line 36, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .section {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  /* line 36, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .section {
    width: 1200px;
  }
}

/* line 50, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.centered {
  text-align: center;
}

/* line 54, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.button {
  background-color: green;
  border-radius: 3px;
  line-height: 50px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_mixins.scss */
.button :hover {
  text-decoration: none;
}

/* line 58, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 63, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
a {
  text-decoration: none;
}

/* line 71, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#banner {
  color: #ffffff;
  background-color: #000000;
  height: 550px;
  display: block;
}

/* line 76, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#banner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 50%;
}

/* line 82, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#banner div {
  align-self: auto;
  margin: auto;
  position: relative;
  top: -450px;
  display: block;
}

/* line 88, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#banner div h1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1.25rem;
}

/* line 94, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#banner div p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.375rem;
}

/* line 100, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#banner div a {
  margin-top: 31px;
  font-size: 1.25rem;
  background-color: #926fb1;
}

/* line 111, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.certcarousel {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
}

/* line 119, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.cert {
  position: relative;
  flex-grow: 1;
  padding: 0 40px;
}

/* line 126, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.cert__logo {
  filter: grayscale(1);
}

/* line 129, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.cert__logo:hover {
  filter: grayscale(0);
}

/* line 137, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.clientcarousel {
  display: block;
  width: 100%;
}

/* line 142, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.logowrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 153, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client {
  position: relative;
  flex-grow: 1;
  padding: 0 40px;
  height: 100px;
  display: flex;
  align-items: center;
}

/* line 162, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubblebox:hover, .client__bubble:hover, :hover + .client__bubblebox {
  display: block;
}

/* line 166, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__logo {
  max-height: 100px;
  max-width: 200px;
  filter: grayscale(1);
}

/* line 170, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__logo:hover {
  filter: grayscale(0);
}

/* line 175, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble {
  z-index: -1;
  background-color: #333645;
  color: #ffffff;
  margin: auto;
  padding: 20px;
  min-width: 280px;
  max-width: 280px;
}

/* line 184, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubblebox {
  display: none;
  position: absolute;
  bottom: 100px;
  right: -200px;
  left: -200px;
  margin: 0 auto 32px;
}

/* line 196, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble-link--webdesign {
  background-color: #926fb1;
  border-radius: 3px;
  line-height: 35px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  margin-top: 11px;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_mixins.scss */
.client__bubble-link--webdesign :hover {
  text-decoration: none;
}

/* line 200, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble-link--marketing {
  background-color: #2ecc71;
  border-radius: 3px;
  line-height: 35px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  margin-top: 11px;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_mixins.scss */
.client__bubble-link--marketing :hover {
  text-decoration: none;
}

/* line 204, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble-link--software {
  background-color: #67809f;
  border-radius: 3px;
  line-height: 35px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  margin-top: 11px;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_mixins.scss */
.client__bubble-link--software :hover {
  text-decoration: none;
}

/* line 208, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble-link--it {
  background-color: #4183d7;
  border-radius: 3px;
  line-height: 35px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  margin-top: 11px;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_mixins.scss */
.client__bubble-link--it :hover {
  text-decoration: none;
}

/* line 215, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble-header {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0;
  padding-bottom: 17px;
  margin: 0;
}

/* line 223, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble-text {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin: 0;
}

/* line 229, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble-triangle {
  position: absolute;
  bottom: -38px;
  left: 50%;
  margin-left: -36px;
}

/* line 235, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.client__bubble-triangle::after {
  content: "";
  margin: auto;
  display: inline-block;
  border-color: #333645 transparent transparent;
  border-style: solid;
  border-width: 35px 36px 0;
}

/* line 252, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about-section-background {
  background-color: #323544;
}

/* line 258, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about-first {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 992px) {
  /* line 258, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  #about-first {
    width: 50%;
  }
}

/* line 271, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about-first p {
  line-height: 1.875rem;
  margin-bottom: 10px;
}

/* line 276, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about-first #about-bold {
  font-weight: 600;
}

/* line 280, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about-first h2 {
  margin-top: -6px;
  margin-bottom: 40px;
}

/* line 286, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about-second {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 992px) {
  /* line 286, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  #about-second {
    width: 50%;
  }
}

/* line 299, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about-second h2 {
  margin-top: -6px;
  margin-bottom: 40px;
}

/* line 305, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about__darkbutton2 {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  /* line 305, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  #about__darkbutton2 {
    margin-bottom: 0px;
  }
}

/* line 313, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#about-section {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 318, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about {
  display: flex;
  flex-wrap: wrap;
}

/* line 323, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about p, .about a, .about h2, .about h3, .about h5, .about blockquote {
  color: #ffffff;
}

/* line 327, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about h2 {
  font-weight: 600;
  font-size: 2.25rem;
}

/* line 332, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__text {
  color: #ffffff;
}

/* line 336, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__darkbutton {
  background-color: #272936;
  border-radius: 6px;
  line-height: 35px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_mixins.scss */
.about__darkbutton :hover {
  text-decoration: none;
}

/* line 342, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__darkbutton:hover {
  background-color: #121318;
}

/* line 347, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__googlebutton {
  background-color: #4387f6;
  border-radius: 6px;
  line-height: 35px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 27px;
  margin-top: 20px;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_mixins.scss */
.about__googlebutton :hover {
  text-decoration: none;
}

@media (min-width: 1260px) {
  /* line 347, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .about__googlebutton {
    margin-top: 25px;
    float: left;
  }
}

/* line 358, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__googlebutton:hover {
  background-color: #166af4;
}

/* line 363, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__tpbutton {
  background-color: #00b67b;
  border-radius: 6px;
  line-height: 35px;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 27px;
  margin-top: 20px;
}

/* line 14, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_mixins.scss */
.about__tpbutton :hover {
  text-decoration: none;
}

/* line 369, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__tpbutton:hover {
  background-color: #009b69;
}

@media (min-width: 1260px) {
  /* line 363, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .about__tpbutton {
    margin-top: 25px;
    float: right;
  }
}

/* line 379, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__quote {
  font-size: 20.8px;
  font-weight: 600;
  line-height: 30px;
  margin-inline: 0px;
  margin-block-start: 0px;
  margin-top: 25px;
}

/* line 387, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__quote footer {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 397, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__quote footer cite {
  font-style: normal;
}

/* line 400, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__quote footer cite p {
  color: #a3a8ac;
  display: inline;
}

/* line 407, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about__quote footer cite a:hover {
  text-decoration: underline;
}

/* line 419, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.about .icon-star::before {
  font-size: 50px;
  color: orange;
  margin-bottom: 25px;
}

/* line 432, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#page-footer-background {
  background-color: #323544;
}

/* line 436, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
li {
  list-style-type: none;
}

/* line 440, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#page-footer {
  padding-top: 27px;
}

@media (min-width: 1260px) {
  /* line 440, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  #page-footer {
    padding-top: 47px;
  }
}

/* line 447, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  letter-spacing: 0.4px;
}

/* line 455, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer #footer-logo {
  width: 320px;
  height: auto;
}

@media (min-width: 1px) and (max-width: 460px) {
  /* line 455, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .footer #footer-logo {
    width: 250px;
  }
}

/* line 465, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__socials {
  padding-right: 80px;
  background-color: #323544;
}

/* line 470, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__socials__icon {
  justify-content: center;
  align-items: center;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  background-color: #212330;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 12px 22px 16px;
}

/* line 472, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__socials__icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

@media (min-width: 1px) and (max-width: 460px) {
  /* line 470, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .footer__socials__icon {
    width: 107px;
  }
}

/* line 502, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__socials__icon > span {
  position: relative;
  top: 4px;
}

/* line 510, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__links {
  background-color: #323544;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  flex-grow: 1;
  margin-right: -15px;
  margin-left: -15px;
}

/* line 526, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__links > div > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 531, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__links > div > ul h4 {
  margin-bottom: 26px;
}

/* line 537, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__link-row {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  /* line 537, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .footer__link-row {
    flex-grow: 1;
    width: 50%;
    float: left;
  }
}

@media (min-width: 992px) {
  /* line 537, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .footer__link-row {
    flex-grow: 1;
    width: 25%;
    float: left;
  }
}

/* line 556, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__link-row > ul > h4 {
  font-weight: 400;
  margin: 0 0 15px;
}

/* line 562, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__license {
  background-color: #212330;
  font-size: 13px;
  padding-left: auto;
  padding-right: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 460px) {
  /* line 562, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
  .footer__license {
    flex-direction: row;
  }
}

/* line 582, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__license > * {
  margin: 0;
  color: #ffffff;
}

/* line 587, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.footer__license a:hover {
  text-decoration: underline;
}

/* line 594, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
ul {
  padding-inline-start: 0px;
}

/* line 598, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
h4 {
  font-weight: 400;
}

/* line 602, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
li {
  font-size: 13px;
  line-height: 22px;
}

/* line 607, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
li a {
  text-decoration: none;
  color: #ffffff;
}

/* line 612, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
li a:hover {
  text-decoration: underline;
}

/* line 618, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#footer__social__fb:hover {
  background-color: #3b5998;
}

/* line 621, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#footer__social__li:hover {
  background-color: #0077b5;
}

/* line 624, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#footer__social__x:hover {
  background-color: #00aced;
}

/* line 627, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
#footer__social__ig:hover {
  background-color: #d93175;
}

/* line 633, ../../../../../Coding Projects/Netmatters-homepage-assessment/scss/partials/_main-styles.scss */
.manage-consent {
  position: fixed;
  line-height: 22px;
  z-index: 99;
  bottom: 0;
  left: 0;
  display: flex;
  background: #75788a;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
  border: solid #75788a;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  font-size: .8rem;
}

/*# sourceMappingURL=styles.css.map */