// Basic Rules (think these go first will correct later if wrong)

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #666;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  background-color: #fff;
}

#page-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.reusable-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
  margin-left: auto;
  margin-right: auto;
  @include mq(medium) {
      width: 750px;
  }
  @include mq(large) {
      width: 970px;
  }
  @include mq(x-large) {
      width: 1200px;
  }
}

.centered {
    text-align: center;
}

.button {
  @include button(green);
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
}



// Banner Rules

#banner {
    color: $white;
    background-color: $black;
    height: 550px;
    display: block;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 50%;
    }
    div {
        align-self: auto;
        margin: auto;
        position: relative;
        top: -450px;
        display: block;
        h1 {
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 1.25rem;
        }
        p {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            margin-bottom: 0.375rem;
        }
        a {
            margin-top: 31px;
            font-size: 1.25rem;
            background-color: $service-webdesign ;
        }
    }
}


// Carousel Rules

.certcarousel {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
}

.cert {

    position: relative;
    flex-grow: 1;
    padding: 0 40px;


    &__logo {
        
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }


}

.clientcarousel {
    display: block;
    width: 100%;
}

.logowrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.client {

    position: relative;
    flex-grow: 1;
    padding: 0 40px;
    height: 100px;
    display: flex;
    align-items: center;

    &__bubblebox:hover, &__bubble:hover, :hover + &__bubblebox {
        display: block;
    }

    &__logo {
        max-height: 100px;
        max-width: 200px;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }    

    &__bubble {
        z-index: -1;
        background-color: $dark-txt;
        color: $white;
        margin: auto;
        padding: 20px;
        min-width: 280px;
        max-width: 280px;

        &box {
            display: none;
            position: absolute;
            bottom: 100px;
            right: -200px;
            left: -200px;
            margin: 0 auto 32px;
        }

        &-link{
           

            &--webdesign {
                @include button($service-webdesign,$lheight:35px);
                margin-top: 11px;
            }
            &--marketing {
                @include button($service-marketing,$lheight:35px);
                margin-top: 11px;
            }
            &--software {
                @include button($service-software,$lheight:35px);
                margin-top: 11px;
            }
            &--it {
                @include button($service-it,$lheight:35px);
                margin-top: 11px;
            }
            
        }

        &-header {
            font-size: 1.125rem;
            font-weight: 400;
            padding: 0;
            padding-bottom: 17px;
            margin: 0;
        }

        &-text {
            font-size: .8125rem;
            line-height: 1.375rem;
            margin: 0;
        }

        &-triangle {
            position: absolute;
            bottom: -38px;
            left: 50%;
            margin-left: -36px;
        }
        &-triangle::after {
            content: "";
            margin: auto;
            display: inline-block;
            border-color: #333645 transparent transparent;
            border-style: solid;
            border-width: 35px 36px 0;
        }
    }


    

}

// about section rules

#about-section-background {
    background-color: $footer-background-color;
}



#about-first {
    
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

    @include mq(large) {
        width: 50%;
    }

    p {
        line-height: 1.875rem;
        margin-bottom: 10px;
    }

    #about-bold {
        font-weight: $font-bold;
    }

    h2 {
        margin-top: -6px;
        margin-bottom: 40px;
    }

}
#about-second {
    
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

    @include mq(large) {
        width: 50%;
    }

    h2 {
        margin-top: -6px;
        margin-bottom: 40px;
    }
}

#about__darkbutton2 {
    margin-bottom: 50px;
    @include mq(large) {
        margin-bottom: 0px;
    }

}

#about-section{
    padding-left: 0px;
    padding-right: 0px;
}

.about {

    display: flex;
    flex-wrap: wrap;
    
    p, a, h2, h3, h5, blockquote {
        color: $white;
    }

    h2{
        font-weight: 600;
        font-size: 2.25rem;
    }

    &__text{
        color: $white;
    }

    &__darkbutton {
        @include button($btn-drk, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 30px;
        margin-top: 20px;

        &:hover {
            background-color: $btn-drk-hover;
        }
    }

    &__googlebutton{
        @include button($btn-google, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 27px;
        margin-top: 20px;

        @include mq(x-large) {
            margin-top: 25px;
            float: left;
        }

        &:hover {
            background-color: $google-hover;
        }
    }

    &__tpbutton {
        @include button($btn-trustpilot, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 27px;
        margin-top: 20px;

        &:hover {
            background-color: $trustpilot-hover;
        }
        
        @include mq(x-large) {
            margin-top: 25px;
            float: right;
        }
    }

    &__quote {
        font-size: 20.8px;
        font-weight: 600;
        line-height: 30px;
        margin-inline: 0px;
        margin-block-start: 0px;
        margin-top: 25px;

        footer {

            

            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 25px;
            margin-bottom: 25px;


            cite {
                
                font-style: normal;
                p {
                    color: #a3a8ac;
                    display: inline;
                    
                }
                a {
                    
                    &:hover {
                        text-decoration: underline;
                    }
                    
                }
                
            }
        }
    }

    .icon-star {

        &::before{
            font-size: 50px;
            color: orange;
            margin-bottom: 25px;
        }
    }

}



// Footer rules

#page-footer-background {
    background-color: $footer-background-color;
}

li {
    list-style-type: none;
}

#page-footer {
    padding-top: 27px;
    @include mq(x-large){
        padding-top: 47px;
    }
}

.footer {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $white;
    letter-spacing: 0.4px;

    #footer-logo{
        width: 320px;
        height: auto;

        @include mq(x-small) {
            width: 250px;
        }
    }
    

    &__socials {

        padding-right: 80px;
        background-color: $footer-background-color;

        &__icon {

            &-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 30px;
            }

            $social_name : "";
            
            justify-content: center;
            align-items: center;
        
            font-size: 26px;
            line-height: 26px;
        
            color: $white;
            background-color: $footer-bottom-color;
        
            display: inline-block;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;

            
            @include mq(x-small) {
                width: 107px;
            }

            padding: 12px 22px 16px;

            & > span {
                position: relative;
                top: 4px;
            }

        }
    }

    &__links {
        background-color: $footer-background-color;
        
        
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        flex-grow: 1;

        @include mq(large) {
        }


        margin-right: -15px;
        margin-left: -15px;

        & > div > ul {
            list-style: none;
            padding: 0;
            margin: 0;

            h4 {
                margin-bottom: 26px;
            }
        }
    }

    &__link-row {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
        
        @include mq(medium) {
            flex-grow: 1;
            width: 50%;
            float: left;
        }
        
        @include mq(large) {
            flex-grow: 1;
            width: 25%;
            float: left;
        }

        & > ul > h4 {
            font-weight: 400;
            margin: 0 0 15px;
        }
    }

    &__license {
        background-color: $footer-bottom-color;
        font-size: 13px;
        padding-left: auto;
        padding-right: auto;


        margin-right: 0px;
        margin-left: 0px;

        padding-top: 5px;
        padding-bottom: 10px;;

        display: flex;
        flex-direction: column;

        @media (min-width: #{$break--s}) {
            flex-direction: row;
        }

        & > * {
            margin: 0;
            color: $white;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}


ul {
    padding-inline-start: 0px;
}

h4 {
    font-weight: 400;
}

li {
    font-size: 13px;
    line-height: 22px;
}

li a {
    text-decoration: none;
    color: $footer-text-color;
}

li a:hover {
    text-decoration: underline; 
}



#footer__social__fb:hover {
    background-color: $social-facebook-color;
}
#footer__social__li:hover {
    background-color: $social-linkedin-color;
}
#footer__social__x:hover {
    background-color: $social-twitter-color;
}
#footer__social__ig:hover {
    background-color: $social-instagram-color;
}   

// manage consent button (was unsure where to place it so its at the bottom for now)

.manage-consent {
    position: fixed;
    line-height: 22px;
    z-index: 99;
    bottom: 0;
    left: 0;
    display: flex;
    background: $consent-btn;
    font-weight: 600;
    text-transform: capitalize;
    color: $white;
    border: solid $consent-btn;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    font-size: .8rem;
}