// Basic Rules (think these go first will correct later if wrong)

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #666;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  background-color: #fff;
}

#page-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.reusable-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
  margin-left: auto;
  margin-right: auto;
  @include mq(medium) {
      width: 750px;
  }
  @include mq(large) {
      width: 970px;
  }
  @include mq(x-large) {
      width: 1200px;
  }
}

.centered {
    text-align: center;
}

.button {
    @include button(green);
  }

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
}

// Header Rules
//known issues - no dropdowns yet 

#header1 {

    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    &__logo {
        order: 1;
        justify-self: left;
        flex-grow: 1;
        flex-shrink: 1;
        img {
            max-width: 100%;
        }
    }

    
    &__actions {

        order: 2;
        padding-bottom: 7px;
        padding-top: 7px;

        display: flex;
        align-items: center;

    }

    &__phone {

        @include mq(medium) {
            display: none;
        }

        order: 2;
        font-weight: 400;
        line-height: 32px;
        font-size: 32px;
        letter-spacing: 0.4px;
    }

    &__buttons {

        order: 2;

        display: none;
        @include mq(large) {
            display: block;
        }

    }

    &__supportbtn {
        @include button($service-it);
        margin-left: 20px;
        font-size: 18px;
    }

    &__contactbtn {
        @include button($btn-contact);
        margin-left: 20px;
        font-size: 18px;
    }

    &__searchform {



        display: none;
        @include mq(medium) {
            display: flex;
        }

        order: 3;
        margin-left: 20px;

        background-color: #eee;
        position: relative;
        flex-direction: row;
        align-items: center;

        &-input {

            display: flex;

            width: 268px;


            @include mq(medium) {
                width: 142px;
            }
            @include mq(large) {
                display: none;

            
                padding-right: 40px;
            }

            box-sizing: content-box;

            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-start;
            
            height: 44px;
            border: 1px;
            
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            
            
            border-color: #ccc;
            border-radius: 2px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
          
            &:focus {
              border-color: #5bc0de;
              outline: 0;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(91, 192, 222, 0.6);
            }

        }

        &-button {

            @include button($btn-contact);
            cursor: pointer;

            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 3px;
            padding-top: 7px;

            font-size: 23px;
            border-style: none;

            height: 56px;

            
        }

    }

    


    &__burger {
        order: 3;
        margin-left: 20px;
    }



}


#header2 {

    
    display: block;
    @include mq(medium) {
        display: none;
    }


    box-sizing: border-box;
    justify-content: flex-end;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    border: solid rgb(201, 201, 201) 5px;
    border-radius: 5px;

   
    &__searchform {
        background-color: #eee;
        display: flex;
        position: relative;
        box-sizing: border-box;

        
        &-input {
            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-start;
            width: 100%;
            height: 47px;
            padding-right: 40px;
        }

        &-button {
            background-color: none;
            border: none;
            right: 3px;
            top: 30px;
        }

    }
}


#header3 {
    background-color: $footer-background-color;
}

#submenu-software {
    display: none;
}

.nav {

    
    display: none;
    @include mq(large){
        display: initial;
    }

    &-list {

        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;

        font-size: 1.125rem;
        text-transform: uppercase;
        justify-content: center;
        width: 970px;
        margin: auto;
        

        &item {

            color: $white;
            :hover {
                text-decoration: none;
            }
            // :hover + #submenu-software {
            //     text-decoration: none;
            //     //  TODO: Show the Submenus
            //     //  TODO: This is currently hiding it
            //     display: none;
            // }

            display: block;
            text-align: center;
            font-size: large;
            flex-grow: 1;
            flex-shrink: 1;      

            a {
                display: block;
                padding-top: 19px;
                padding-bottom: 18px;

                span {
                    display: block;
                }
                small {
                    font-size: 10px;
                    line-height: 10px;
                    letter-spacing: 0.4px;
                }
            }



        }

    }

    &__listitem-submenu {
        display: none;
    }

}

#nav-software {color: $service-software}
#nav-it {color: $service-it}
#nav-marketing {color: $service-marketing}
#nav-telecoms {color: $service-telecoms}
#nav-web {color: $service-webdesign}
#nav-security {color: $service-cybersec}
#nav-developer {color: $service-training}

#navmenu-software:hover {
    background-color: $service-software;
    color: $white;
    & > a > span {
        color: $white;
    }
}
#navmenu-it:hover {
    background-color: $service-it;
    color: $white;
    & > a > span {
        color: $white;
    }
}
#navmenu-marketing:hover {
    background-color: $service-marketing;
    color: $white;
    & > a > span {
        color: $white;
    }
}
#navmenu-telecoms:hover {
    background-color: $service-telecoms;
    color: $white;
    & > a > span {
        color: $white;
    }
}
#navmenu-web:hover {
    background-color: $service-webdesign;
    color: $white;
    & > a > span {
        color: $white;
    }
}
#navmenu-security:hover {
    background-color: $service-cybersec;
    color: $white;
    & > a > span {
        color: $white;
    }
}
#navmenu-developer:hover {
    background-color: $service-training;
    color: $white;
    & > a > span {
        color: $white;
    }
}


.burger {

    display: flex;
    flex-direction: column;
    width: 33px;
    border: 0;
    padding: 0;
    gap: 7px;
    background: none;
    cursor: pointer;

    &__box {
        padding: 15px 15px;
        background: $footer-background-color;
        border: solid black 1px;
        border-radius: 3px;
    }

    &__top, &__middle, &__bottom {
        background: $white;
        height: 4px;
        width: 33px;
        border-radius: 0px;
        display: block;
    }
}

// Banner Rules
//known issue - Text shoud be left aligned
//known issue - button does not shift color when hovered

#banner {
    color: $white;
    background-color: $black;
    height: 550px;
    display: block;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 50%;
    }
    div {
        align-self: auto;
        margin: auto;
        position: relative;
        top: -450px;
        display: block;
        h1 {
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 1.25rem;
        }
        p {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            margin-bottom: 0.375rem;
        }
        a {
            margin-top: 31px;
            font-size: 1.25rem;
            background-color: $service-webdesign ;
        }
    }
}
// Services Rules
// known issue - View our work button does not underline when hovered

#services {

    display: grid;
    text-align: center;
    padding-bottom: 0px;

    > header {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
        
    h2 {
        text-align: left;
        font-size: 2.7rem;
        font-weight: $font-bold;
        justify-self: left;
        color: $dark-txt;
        
    }

    h3 {
        margin-top: auto;
        margin-bottom: auto;

    }

}

.services__viewmore {
    color: $newsletter-text-color;
    text-decoration: none;
    :hover{
        text-decoration: underline;
    }

    &-top {
        display: inline;
        float: right;
        @include mq(small) {display: none;}
        @include mq(x-small) {display: none;}

        justify-self: right;
        color: $dark-txt;
        font-weight: $font-bold;
        font-size: 1.625rem;
        :hover{
            text-decoration: underline;
        }
        color: $dark-txt;
    }

    &-bottom {
        display: none;
        @include mq(small) {display: inline;}
        @include mq(x-small) {display: inline;}

        font-size: 1.625rem;
        font-weight: $font-bold;
        color: $dark-txt;

    }
}

#services-card-wrapper {

    display: grid;
    grid-gap: 30px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 25px;
    grid-template-areas:
    "software"
    "support"
    "digital"
    "telecoms"
    "design"
    "cyber"
    "developer";

    @include mq(medium){
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "software software"
        "support support"
        "digital digital"
        "telecoms design"
        "cyber developer";
    }

    @include mq(large) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "software software support support digital digital"
        "telecoms telecoms telecoms design design design"
        "cyber cyber cyber developer developer developer";
    }

    @include mq(x-large) {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        "software software software software support support support support digital digital digital digital"
        "telecoms telecoms telecoms design design design cyber cyber cyber developer developer developer";
    }

}


.service-card {




    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    :hover {
        text-decoration: none;
    }

    &1:hover {
        @include cardhover($service-software);
        a > .service-card__button {
            color:$service-software;
        }
        a > span > span {
            color:$service-software;
            background-color: $white;
        }
    } 
    &2:hover {
        @include cardhover($service-it);
        a > .service-card__button {
            color:$service-it;
        }
        a > span > span {
            color:$service-it;
            background-color: $white;
        }
    } 
    &3:hover {
        @include cardhover($service-marketing);
        a > .service-card__button {
            color:$service-marketing;
        }
        a > span > span {
            color:$service-marketing;
            background-color: $white;
        }
    } 
    &4:hover {
        @include cardhover($service-telecoms);
        a > .service-card__button {
            color:$service-telecoms;
        }
        a > span > span {
            color:$service-telecoms;
            background-color: $white;
        }
    } 
    &5:hover {
        @include cardhover($service-webdesign);
        a > .service-card__button {
            color:$service-webdesign;
        }
        a > span > span {
            color:$service-webdesign;
            background-color: $white;
        }
    } 
    &6:hover {
        @include cardhover($service-cybersec);
        a > .service-card__button {
            color:$service-cybersec;
        }
        a > span > span {
            color:$service-cybersec;
            background-color: $white;
        }
    }
    &7:hover {
        @include cardhover($service-training);
        a > .service-card__button {
            color:$service-training;
        }
        a > span > span {
            color:$service-training;
            background-color: $white;
        }
    } 

    &1, &2, &3, &4, &5, &6, &7 {
        border: 1px solid #ccc;
        box-shadow: 0 3px 35px rgba(0,0,0,.1);
        position: relative; 
        border-radius: 15px;
        background-color: #fff;
        top: 0; 
        transition: .5s ease;

        &:hover > a > h3, &:hover > a > p {
            color:$white;
        }
        &:hover > a > .service-card__button {
            background-color: $white;
            //color: inherit;
        }

        a {
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__icon {

        //For the Icon
        span {
            display: inline-block;
            padding: 17.5px;
            margin-bottom: 17px;
            font-size: 30px;
            color: $white;
            border-radius: 100%;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 1.3rem;
        color: $dark-txt;
        font-weight: $font-light;

        padding-bottom: 10px;
        margin-bottom: 11px;
        margin-top: 0px;
    }

    &__text {
        font-weight: 400;
        font-size: .8125rem;
        line-height: 1.375rem;
        color: $dark-txt;
        margin-top: 0px;
    }

    &__button {
        @include button(blue, $lheight: 35px);
        margin-bottom: 30px;
        font-size: 17.008px;
        width: auto;
    }
}




.service-color-software {
    background-color: $service-software;
}

.service-color-it {
    background-color: $service-it;
}
.service-color-marketing {
    background-color: $service-marketing;
}
.service-color-telecoms {
    background-color: $service-telecoms;
}
.service-color-webdesign {
    background-color: $service-webdesign;
}
.service-color-cybersec {
    background-color: $service-cybersec;
}
.service-color-training {
    background-color: $service-training;
}

#card1 {
    grid-area: software;
    :hover {
        border-color: $service-software ;
        top: -10px;
        transition: 0.5s ease;
    }
}

#card2 {
    grid-area: support;
    :hover {
        border-color: $service-it ;
        top: -10px;
        transition: 0.5s ease;
    }
}

#card3 {
    grid-area: digital;
    :hover {
        border-color: $service-marketing;
        top: -10px;
        transition: 0.5s ease;
    }
}
#card4 {
    grid-area: telecoms;
    :hover {
        border-color: $service-telecoms;
        top: -10px;
        transition: 0.5s ease;
    }
}
#card5 {
    grid-area: design;
    :hover {
        border-color: $service-webdesign;
        top: -10px;
        transition: 0.5s ease;
    }
}
#card6 {
    grid-area: cyber;
    :hover {
        border-color: $service-cybersec;
        top: -10px;
        transition: 0.5s ease;
    }
}
#card7 {
    grid-area: developer;
    :hover {
        border-color: $service-training;
        top: -10px;
        transition: 0.5s ease;
    }
    a:hover{
        color: $white;
    }
}


// Carousel Rules

.certcarousel {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
}

.cert {

    position: relative;
    flex-grow: 1;
    padding: 0 40px;


    &__logo {
        
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }


}

.clientcarousel {
    display: block;
    width: 100%;
}

.logowrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.client {

    position: relative;
    flex-grow: 1;
    padding: 0 40px;
    height: 100px;
    display: flex;
    align-items: center;

    &__bubblebox:hover, &__bubble:hover, :hover + &__bubblebox {
        display: block;
    }

    &__logo {
        max-height: 100px;
        max-width: 200px;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }    

    &__bubble {
        z-index: -1;
        background-color: $dark-txt;
        color: $white;
        margin: auto;
        padding: 20px;
        min-width: 280px;
        max-width: 280px;

        &box {
            display: none;
            position: absolute;
            bottom: 100px;
            right: -200px;
            left: -200px;
            margin: 0 auto 32px;
        }

        &-link{
           

            &--webdesign {
                @include button($service-webdesign,$lheight:35px);
                margin-top: 11px;
            }
            &--marketing {
                @include button($service-marketing,$lheight:35px);
                margin-top: 11px;
            }
            &--software {
                @include button($service-software,$lheight:35px);
                margin-top: 11px;
            }
            &--it {
                @include button($service-it,$lheight:35px);
                margin-top: 11px;
            }
            
        }

        &-header {
            font-size: 1.125rem;
            font-weight: 400;
            padding: 0;
            padding-bottom: 17px;
            margin: 0;
        }

        &-text {
            font-size: .8125rem;
            line-height: 1.375rem;
            margin: 0;
        }

        &-triangle {
            position: absolute;
            bottom: -38px;
            left: 50%;
            margin-left: -36px;
        }
        &-triangle::after {
            content: "";
            margin: auto;
            display: inline-block;
            border-color: #333645 transparent transparent;
            border-style: solid;
            border-width: 35px 36px 0;
        }
    }


    

}

// about section rules

#about-section-background {
    background-color: $footer-background-color;
}



#about-first {
    
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

    @include mq(large) {
        width: 50%;
    }

    p {
        line-height: 1.875rem;
        margin-bottom: 10px;
    }

    #about-bold {
        font-weight: $font-bold;
    }

    h2 {
        margin-top: -6px;
        margin-bottom: 40px;
    }

}
#about-second {
    
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

    @include mq(large) {
        width: 50%;
    }

    h2 {
        margin-top: -6px;
        margin-bottom: 40px;
    }
}

#about__darkbutton2 {
    margin-bottom: 50px;
    @include mq(large) {
        margin-bottom: 0px;
    }

}

#about-section{
    padding-left: 0px;
    padding-right: 0px;
}

.about {

    display: flex;
    flex-wrap: wrap;
    
    p, a, h2, h3, h5, blockquote {
        color: $white;
    }

    h2{
        font-weight: 600;
        font-size: 2.25rem;
    }

    &__text{
        color: $white;
    }

    &__darkbutton {
        @include button($btn-drk, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 30px;
        margin-top: 20px;

        &:hover {
            background-color: $btn-drk-hover;
        }
    }

    &__googlebutton{
        @include button($btn-google, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 27px;
        margin-top: 20px;

        @include mq(x-large) {
            margin-top: 25px;
            float: left;
        }

        &:hover {
            background-color: $google-hover;
        }
    }

    &__tpbutton {
        @include button($btn-trustpilot, $bradius:6px, $lheight:35px);
        font-size: 20px;
        padding: 10px 27px;
        margin-top: 20px;

        &:hover {
            background-color: $trustpilot-hover;
        }
        
        @include mq(x-large) {
            margin-top: 25px;
            float: right;
        }
    }

    &__quote {
        font-size: 20.8px;
        font-weight: 600;
        line-height: 30px;
        margin-inline: 0px;
        margin-block-start: 0px;
        margin-top: 25px;

        footer {

            

            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 25px;
            margin-bottom: 25px;


            cite {
                
                font-style: normal;
                p {
                    color: #a3a8ac;
                    display: inline;
                    
                }
                a {
                    
                    &:hover {
                        text-decoration: underline;
                    }
                    
                }
                
            }
        }
    }

    .icon-star {

        &::before{
            font-size: 50px;
            color: orange;
            margin-bottom: 25px;
        }
    }

}

// News Rules
// known issue - Need to make news card animate on hover
// known issue - News cards are not the save size

#news {

    display: grid;
    text-align: center;

    h2 {
        text-align: left;
        font-size: 2.7rem;
        font-weight: 600;
        color: $newsletter-text-color;
    }

    &__viewmore {
        text-decoration: none;
        :hover{
            text-decoration: underline;
        }

        &-top {
            display: inline;
            float: right;
            @include mq(small) {display: none;}
            @include mq(x-small) {display: none;}

            justify-self: right;
            color: $dark-txt;
            font-weight: $font-bold;
            font-size: 1.625rem;
            color: $dark-txt;
            :hover{
                text-decoration: underline;
            }
        }
        &-bottom {
            display: none;
            @include mq(small) {display: inline;}
            @include mq(x-small) {display: inline;}

            font-size: 1.625rem;
            color: $dark-txt;

        }
    }
}

#card1cat, #card1but {
    background-color: $service-marketing;
    color: $white;
}
#card2cat, #card2but {
    background-color: $service-business;
    color: $white;
}
#card3cat, #card3but {
    background-color: $service-it ;
    color: $white;
}
#card1tit{color:$service-marketing;}
#card2tit{color:$service-business;}
#card3tit{color:$service-it;}


.news-card {
    
    &__container {
        display: grid;
        grid-template-areas:
        "one"
        "two"
        "three";

        @include mq(medium) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "one two";
        }

        @include mq(x-large) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "one two three";
        }
    }

    background-color: $white;
    align-self: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 30px 20px 20px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);


    &-block1 {

        display: block;
        position: relative; 

        &__category {
            background: $service-business;
            display: block;
            
            background-origin: padding-box;
            position: absolute;
            right: 0px;
            padding: 0 10px;
            z-index: 1;
            top: 10px;

            font-size: .75rem;
            line-height: 1.438rem;
            color: $white;
            text-transform: uppercase;
        }

        &__image {
            box-sizing: border-box;
            img {

                width: 100%;
                height: auto;
            }
        }
    }

    &-block2 {

        text-align: left;
        padding: 30px;

        &__title {

            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;

            &-readtime {
                font-size: .85rem;
                color: rgb(51, 54, 69 / 50%);
                vertical-align: middle;
                display: inline;
                text-transform: uppercase;
                font-weight: $font-light;
            }
        }
    
        &__description {
            font-weight: 400;
            font-size: .8125rem;
            line-height: 1.375rem;
        }
    
        &__button {
            @include button($service-business, $bradius: 3px, $lheight: 35px);
            padding: 5px 15px;
        }


        &__author {

            border-top: 1px solid #ccc;
            margin-top: 30px;
            padding-top: 30px;
            display: flex;
            width: 100%;
            

            &-image {
                border-radius: 50%;
                overflow: hidden;
                height: 47px;
                width: 47px;
            }

            &-text {

                
                padding-left: 20px;
                line-height: 1.35rem;
                text-align: left;

                h5, p {
                    margin:0;
                    br {
                        display: none;
                    }
                }
                &-name {
                    display: table-cell;
                    font-weight: $font-bold;
                    color: #333645;
                }

                &-date {
                    line-height: 1.37rem;
                }
            }
        }

    }

}

#news-hide {
    @include mq(medium) {
        display: none;
    }
    @include mq(x-large) {
        display: initial;
    }
}


#news-card1 {grid-area: one;}
#news-card2 {grid-area: two;}
#news-card3 {grid-area: three;}



// Footer rules
//known issue - bottom footer section not filling full width of page on larger viewports
//known issue - text is to far left making the mange consents button cover it

#page-footer-background {
    background-color: $footer-background-color;
}

li {
    list-style-type: none;
}

#page-footer {
    padding-top: 27px;
    @include mq(x-large){
        padding-top: 47px;
    }
}

.footer {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $white;
    letter-spacing: 0.4px;

    #footer-logo{
        width: 320px;
        height: auto;

        @include mq(x-small) {
            width: 250px;
        }
    }
    

    &__socials {

        padding-right: 80px;
        background-color: $footer-background-color;

        &__icon {

            &-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 30px;
            }

            $social_name : "";
            
            justify-content: center;
            align-items: center;
        
            font-size: 26px;
            line-height: 26px;
        
            color: $white;
            background-color: $footer-bottom-color;
        
            display: inline-block;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;

            
            @include mq(x-small) {
                width: 107px;
            }

            padding: 12px 22px 16px;

            & > span {
                position: relative;
                top: 4px;
            }

        }
    }

    &__links {
        background-color: $footer-background-color;
        
        
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        flex-grow: 1;

        @include mq(large) {
        }


        margin-right: -15px;
        margin-left: -15px;

        & > div > ul {
            list-style: none;
            padding: 0;
            margin: 0;

            h4 {
                margin-bottom: 26px;
            }
        }
    }

    &__link-row {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
        
        @include mq(medium) {
            flex-grow: 1;
            width: 50%;
            float: left;
        }
        
        @include mq(large) {
            flex-grow: 1;
            width: 25%;
            float: left;
        }

        & > ul > h4 {
            font-weight: 400;
            margin: 0 0 15px;
        }
    }

    &__license {
        background-color: $footer-bottom-color;
        font-size: 13px;
        padding-left: auto;
        padding-right: auto;


        margin-right: 0px;
        margin-left: 0px;

        padding-top: 5px;
        padding-bottom: 10px;;

        display: flex;
        flex-direction: column;

        @media (min-width: #{$break--s}) {
            flex-direction: row;
        }

        & > * {
            margin: 0;
            color: $white;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}


ul {
    padding-inline-start: 0px;
}

h4 {
    font-weight: 400;
}

li {
    font-size: 13px;
    line-height: 22px;
}

li a {
    text-decoration: none;
    color: $footer-text-color;
}

li a:hover {
    text-decoration: underline; 
}



#footer__social__fb:hover {
    background-color: $social-facebook-color;
}
#footer__social__li:hover {
    background-color: $social-linkedin-color;
}
#footer__social__x:hover {
    background-color: $social-twitter-color;
}
#footer__social__ig:hover {
    background-color: $social-instagram-color;
}   

// manage consent button (was unsure where to place it so its at the bottom for now)

.manage-consent {
    position: fixed;
    line-height: 22px;
    z-index: 99;
    bottom: 0;
    left: 0;
    display: flex;
    background: $consent-btn;
    font-weight: 600;
    text-transform: capitalize;
    color: $white;
    border: solid $consent-btn;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    font-size: .8rem;
}