

$white: #fff;

$color-bespoke:    #67809f;
$color-support:    #4183d7;
$color-mark:       #2ecc71; 
$color-tele:       #d64541;
$color-web:        #926fb1;
$color-cyber:      #f62459;
$color-train:      #ce4125;
$color-btn:        #f7b322;
$color-background: #333645;